.checkout-center{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.login-form{
    
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 3px;
    width: 50%;
     
}
#email-form{
    height: 35px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid gainsboro;
   
}
#password-form{
    height: 35px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid gainsboro;
}
.button-form{
    height: 35px;
    width: 308px;
    cursor: pointer;
    border: 1px solid gainsboro;
    background-color: #134949;
    
}
