.body{
    margin-left: 100px;
    margin-right: 100px;
 }
 .signup-center{
     margin-top: 20px;
    display: flex;
    justify-content: center;
 }
 .login-form{
    /* background-color: rgba(158, 151, 151, 0.918); */
     padding-left: 20px;
     padding-bottom: 20px;
     border-radius: 3px;
     width: 50%;
    
     
 }
 #email-form{
     height: 35px;
     width: 300px;
     margin-bottom: 10px;
     border: 1px solid gainsboro;
     border-radius: 3px;
    
 }
 #password-form{
     height: 35px;
     width: 300px;
     margin-bottom: 10px;
     border-radius: 3px;
     border: 1px solid gainsboro;
 }
 .button-form{
     height: 35px;
     width: 308px;
     cursor: pointer;
     border-radius: 3px;
     border: 1px solid gainsboro;
     background-color: #134949;
     
     
 }
 .account-color{
     color: #d1330c;
     text-decoration: none;
 }